@using System.Security.Claims

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorOIDCB2C</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@

        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/profile">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Edit Profile
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register">
                        <span class="oi oi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/password">
                        <span class="oi oi-lock-locked" aria-hidden="true"></span> Password Reset
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>




    </ul>
</div>

@code {
    //[CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }

    //private ClaimsPrincipal user;

    //protected override async Task OnInitializedAsync()
    //{
    //    await base.OnInitializedAsync();

    //    var authState = await authenticationStateTask;
    //    user = authState.User;
    //}

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
